body {
    background-color: powderblue;
  }
  h1 {
    color: blue;
  }
  p {
    color: red;
  }

  .wrapper {
    width: 100%;
    text-align: center;
  }
  
  .button {
    background-color: white;
    width: 20%;
    display: inline-block;
  
  }

  .mainwindow {   
    background-color: green; 
    display: block; 
    margin: 10px;
  }