body {
    background-color: powderblue;
  }
  h1 {
    color: blue;
  }
  p {
    color: red;
  }

  .wrapper {
    width: 100%;
    text-align: center;
  }
  
  .button {
    background-color: white;
    width: 20%;
    margin: 10px;
    display: inline-block;
  
  }

  .main-window {   
    background-color: green; 
    display: block; 
    margin: 10px;
  }

  .stats-container {
    background-color: white;
    display: inline-block;
    margin: 10px; 
  }

  .player-hand-container {
    background-color: transparent;
    display: block;
    margin: 10px;
    width: 80%;
    height: 100px;
    border-style: solid;
    text-align: center;
  }

  .card {
    background-color: white;
    display: inline-block;
    margin: 5px;
    height: 80px;
    border-style: solid;
  }

  .player-controls {
    display: block; 
    margin: 10px; 
  }